{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />

<body>
	<h1>{{ countryName }}</h1>

	{% if articles %}
		{% for article in articles %}
			<h2>{{ article.title }}</h2>
		    <p>{{ article.content }}</p>
		    <small> Tags: 
		    {% for tag in article.getTagNames %}
		    	#{{ tag }}
		    {% endfor %}
			</small>
		{% endfor %}
	{% else %}
		There are no articles available for this country. Contribute <a href="#">here!</a>
	{% endif %}
</body>