{% load staticfiles %}
{% load past_extras %}


<!DOCTYPE html>

<html lang="en">

<head>
    <title>Reconesse Database</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">

    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
    <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'>

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" type='text/css' href="{% static 'slider/jquery-ui-slider-pips.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'slider/slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bonsai/jquery.bonsai.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'fonts/webfonts.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'past/css/map.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'past/css/modal_window.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'past/css/article_map.css' %}" />

</head>

<body>
    {% include "GoogleAnalytics.html" %}
    <div id="mapdiv"></div>

<div class="md-modal md-effect-1 small-list" id="article-list">
  <div class="md-content">

    <div class="md-scroll-wrapper search-result-wrapper" style="background-color: #FFF;">
      <div class="scroll-list-modal">

        <h2 id="country_name"></h2>

        <div class="delimiter" style="margin-bottom: 1em;"></div>
        <div class="list-group entries" id="list-country-articles" style="border: none;">

        </div>
      </div>
    </div>
  </div>
</div>

<button id="article-list-button" class="md-trigger" style="display:none;" data-modal="article-list"></button>


<div class="md-overlay"></div>

<form type="hidden" id="query" method="POST" action="/past/search/">
    {% csrf_token %}
    <input type="hidden" name="category" />
    <input type="hidden" name="countrycode" />
    <input type="hidden" name="keyword" />
    <input type="hidden" name="tag" />
    <input type="hidden" name="minyear" />
    <input type="hidden" name="maxyear" />
</form>


<!-- Underscore templates -->
<!-- Single person -->
<script type="text/template" id="person-list-entry">
<a href="/past/<%- slug %>" class="results-item">
  <hr style="border-top: 1px solid #000;"/>
  <div class="results-image" style="background: url('<%- img_url %>') no-repeat center center"></div>
  <h4 class="results-heading"><%- name %><br/><small><%- yearFrom %> - <%- yearTo %></small></h4>
  <p class="results-text"><%- tags %></p>
</a>
</script>


<!-- jquery-->
<script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

<!-- Modal window -->
<script src="{% static 'past/js/modal_window.js' %}"></script>
<script src="{% static 'past/js/classie.js' %}"></script>

<!-- Map js-->
<script type="text/javascript" src="{% static 'ammap/ammap.js' %}"></script>
<script type="text/javascript" src="{% static 'ammap/maps/js/worldLow.js' %}"></script>

<!-- fancybox-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>-->

<!-- pips for the year slider-->
<script type="text/javascript" src="{% static 'slider/jquery-ui-slider-pips.js' %}"></script>

<!-- slideout box-->
<!--<script type="text/javascript" src="{% static 'tabslideout/jquery.tabSlideOut.v1.3.js' %}"></script>-->

<!-- checkboxes-->
<!--<script type="text/javascript" src="{% static 'bonsai/jquery.qubit.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'bonsai/jquery.bonsai.js' %}"></script>-->

<!-- underscore.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<!-- LocalStorage bookmarks -->
<script type="text/javascript" src="{% static 'past/js/bookmarks.js' %}"></script>
<!-- Business logic -->
<script type="text/javascript" src="{% static 'past/js/map.js' %}"></script>

<!-- Grab variables passed into template -->
<script>
var maxYear, minYear, minRange, maxRange, article = '{{article.slug}}';
var countries;
$(document).ready(function() {
    // page setup
    maxYear = {{maxYear}};
    minYear = {{minYear}};
    $(".minYear").text(GetLabelForYear(minYear));
    $(".maxYear").text(GetLabelForYear(maxYear));

    countries = { {% for c in countries %}{{c.code}}:'{{c.name}}',{% endfor %} };

    {% if article %}
    $("#birthYear").text(GetLabelForYear({{article.birthYear}}));
    {% if article.deathYearUnknown %}
    $("#deathYear").text("unknown")
    {% elif article.deathYear %}
    $("#deathYear").text(GetLabelForYear({{article.deathYear}}));
    {% else %}
    $("#deathYear").text("present")
    {% endif %}
    {% endif %}

    SetupSliderBar(minYear, maxYear);
});
</script>

</body>
</html>
