{% load staticfiles %}
{% load past_extras %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Reconesse Database - {{ article.title }}</title>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{% static 'images/faviconlogo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/webfonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/arnhem_pro.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'past/css/profile.css' %}"  />
</head>

<body>
  <div class="main">
    <h1>{{ article.title }}</h1>
    <h2 id="lifespan">
      (
      {% if article.deathYearUnknown %}
        {{ article.birthYear }}—unknown
      {% elif article.deathYear %}
        {{ article.birthYear }}—{{ article.deathYear }}
      {% else %}
        {{ article.birthYear }}—present
      {% endif %}
      )
      </h2>
      <div class="profile-container">
        <div class="profile-metadata">
          <div class="profile-pictures">
            {% if images|length_is:"0" %}
            <div class="image" style="background: url({% static 'images/blank.gif' %}) no-repeat center center; background-size: 100%;"></div>
            {% else %}
              {% for image in images %}
                {% if forloop.first %}
                  <div class="image" style="background: url({{ image.imageField.url }}); no-repeat center center; background-size: 100%;"></div>
                {% else %}
                  <div class="thumbnail" style="background: url({{ image.imageField.url }}) no-repeat center center; background-size: 100%;"></div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          <div class="meta-item name">
            {{ article.title }}
          </div>
          <div class="meta-item">
            {% if article.deathYearUnknown %}
              {{ article.birthYear }}—unknown
            {% elif article.deathYear %}
              {{ article.birthYear }}—{{ article.deathYear }}
            {% else %}
              {{ article.birthYear }}—present
            {% endif %}
          </div>
          <div class="meta-item">
            {{ article.country.name }}
          </div>
          <div class="meta-item">
            {% for summary_line in summary %}
            <span class="summary-line">
              {{ summary_line }}
            </span>
            {% endfor %}
          </div>
          <div class="hashtag-container">
            {% for tag in article.getTagNames %}
            <span class="hashtag" tag="{{tag}}">
              #{{ tag }}
            </span>
            {% endfor %}
          </div>

          <div class="related">
            {% if relatedArticles %}
              <div id="title">You might also be interested in:</div>
              {% for relatedArticle in relatedArticles %}
                <a href="/past/{{ relatedArticle.slug }}" class="related-article">{{ relatedArticle.title }}</a>
                {% endfor %}
            {% endif %}

            {% if sameCategoryArticles %}
              <div id="title">Also in category {{ article.category }}:</div>
              {% for sameCategoryArticle in sameCategoryArticles %}
                <a href="/past/{{ sameCategoryArticle.slug }}/" class="related-article">{{ sameCategoryArticle.title }}</a>
              {% endfor %}
            {% endif %}
          </div>

        </div>

        <div class="profile-body">
          {{ article.content|addReferences|linebreaks }}

          {% for reference in references %}
          <div class="reference-container" id="reference-{{forloop.counter}}">
            {% if reference.url and reference.url.strip %}
              <span class="reference">[{{ forloop.counter }}]</span> <a href="{{reference.url}}" class="reference" target="_blank">{{ reference.text }}</a>
            {% else %}
              <span class="reference">[{{ forloop.counter }}] {{ reference.text }}</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
</body>
</html>
