$blue: #353DF4;
$yellow: #FDFC55;
$pink: #F0646A;

$white: #FFF;
$black: #000;

$sans_serif_italics: UniversLTStd-Obl;
$sans_serif: UniversLTStd;

$nav_width: 300px;
$grid_margin: 30px;

body {
  font-family: $sans-serif;
  margin: 0;
  padding: 0;
}

nav#filter {
  background-color: $blue;
  color: $white;
  width: $nav_width;
  padding: 35px;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  transition: transform .15s ease-in-out;

  h3 {
    margin-top: 45px;
    text-transform: uppercase;
  }

  ol {
    margin-top: 0;
    margin-bottom: 10px;
  }

  li {
    list-style:none;
    margin-left: -40px;

    &.cat-li {
      margin-bottom: -10px;
    }

    label {
    }
  }

  &.hide {
    transform: translateX(-#{$nav_width});
  }
}

nav#top {
  margin: 0;
  width: 100%;
  height: 150px;

  img {
    width: 230px;
    margin: 35px;
    float: left;
  }

  span {
    float: left;
    margin-top: 90px;
    color: #999;
    font-size: 1.2em;

    &.active {
      text-decoration: underline;
      cursor: pointer;
      color: $black;
    }

    &#filter-search {
      margin-left: $grid_margin;
    }

    a#map {
      margin-left: $grid_margin;
      color: $black;
    }
  }
}

div#grid {
  margin: $grid_margin;
  color: $white;
  margin-left: calc(#{$nav_width} + #{$grid_margin});
  box-sizing: border-box;
  transition: all .15s ease-in-out;

  div {
    padding: 7px;
    box-sizing: border-box;
    img {
      width: 100%;
    }

    h4 {
      text-transform: uppercase;
      color: $blue;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    p {
      color: $black;
      margin-top: 0;
      a {
        text-transform: uppercase;
        color: $blue;
        text-decoration: none;
      }
    }
  }

  &.center {
    transform: translateX(calc(#{$nav_width} / -2));
  }
}

.select-all {
  margin-bottom: $grid_margin;
}

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

@media screen and (min-width: 1280px) {
	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: calc(100% / 2); }
.size-1of3 { width: calc(100% / 3); }
.size-1of4 { width: calc(100% / 4); }
