label {
    font-weight: normal;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
    -webkit-font-smoothing: antialiased;
}

body {
	background-color: #33bcff;
}

li { 
    list-style-type:none;
    margin-left: -1em;
}

.delimiter {
    height: 1px;
    width: 100%;
    background-color: #FFF;
}

.grey {
    background-color: #555;
}

.red {
    background-color: #FF7364;
}

#mapdiv {
    width: 100%;
    height: 100%;
}

.slide-out-div {
    padding: 10px;
    width: 200px;
    background: #FFC5BD;
    //border: 1px solid #29216d;
}

.barfloat {
    position: fixed;
    bottom: 20px;
    
    width: 100%;
}

.barcontent {
    display: table-cell;
    width: auto;
    height: 100%;
    vertical-align: middle;
}

#slidercontainer {
    width: 100%;
}

.yearcontainer, .barbuttoncontainer{
    position: relative;
    padding: 10px;
    white-space: nowrap;
}

.barbuttoncontainer {
    padding: 5px;
}

.barbutton#present {
    background-color: #66ffcc;
}

.barbutton#future {
    background-color: #ffc5bd;
}

.barbutton {
    padding: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

input[type="checkbox"]
{
    cursor: pointer;
}

input[type="checkbox"]:before{
    border-radius: 15px;
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    border: none;
    background-color: #FF7364;
    content: "";
}
input[type="checkbox"]:after{
    border-radius: 15px;
    position: relative;
    display: block;
    left: 2px;
    top: 10px;
    width: 7px;
    height: 7px;
    /*border-width: 1px;
    border-style: solid;*/
    background-color: #777;
    border: none;
    content: "";
    
    background-repeat: no-repeat;
    background-position:center;
}
input[type="checkbox"]:checked:after{
    background-color: #66ffcc;
}
input[type="checkbox"]:disabled:after{
    -webkit-filter: opacity(0.4);
}
input[type="checkbox"]:not(:disabled):checked:hover:after{
    background-color: #66ffcc;
    border: 1px solid #777;
}
input[type="checkbox"]:not(:disabled):hover:after{  
    border: 1px solid #66ffcc;
}
input[type="checkbox"]:not(:disabled):hover:before{
    border: none;
}
/* Large checkboxes */
input {
    height:22px;
    width: 22px;
}

input[type="checkbox"]:before{
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:after{
    top: -15px;
    width: 16px;
    height: 16px;
}

li .thumb {
    padding-top: 7px;
    cursor: pointer;
}

.scroll-list-modal {
    background-color: #FF7364;
    padding: 1em !important;
}


.bookmark-container {
    float: right;
    padding-top: 14px;
    margin: 0 auto;
    cursor: pointer;
}

.entries {
    margin: 0;
}

.bookmark-container:hover {
    color: #FFF;
}

.plus-tree {
    color: #555;
}
.plus-tree:hover {
    color: #66ffcc;
    text-decoration: none;
    cursor: pointer;
}

.list-group-item {
    background-color: #FF7364;
    color: #FFF !important;
    border-radius: 0 !important;
    border: 1px dotted #FFF;
}

.list-group-item h4,
.list-group-item small {
    color: #FFF !important;
}

.list-group-item:hover {
    color: #555 !important;
    background-color: #66ffcc !important;
}

.list-group-item:hover h4,
.list-group-item:hover small {
    color: #555 !important;
}

#country_name {
    margin-top: 0;
    padding-left: 0;
    width: 100%;
    background-color: #FF7364;
}