#sliderbar.ui-slider {
    font-size: 12px;
    border: none;
    background: #FFCC33;
    top: 0px;
    height: 20px;
}

#sliderbar.ui-slider .ui-slider-range {
    background: #ffff00;
}

#sliderbar.ui-slider .ui-slider-handle {
    height: 100%;
    top: 0px;

    background: none !important;
    border: none;
    outline: none;
}

#sliderbar.ui-slider .ui-slider-handle-left {
    height: 100%;
    margin-left: 3px; 
}

#sliderbar.ui-slider .ui-slider-handle-right {
    height: 100%;
    margin-left: 4px;
}

#sliderbar.ui-slider .ui-slider-handle:focus {
}

#sliderbar.ui-slider-pips .ui-slider-pip {
    top: 10px;
    width: 20px;
    margin-left: -10px
}

#sliderbar.ui-slider-pips .ui-slider-label {
    top: 20px;
    width: 56px;
    margin-left: -50px;
    color: #555;
    display: none;
    text-align: right;
}

#sliderbar.ui-slider-pips .ui-slider-label .heart {
    color: #ffff00;
    font-size: 18px;
    position: relative;
    top: 2px;
}

#sliderbar.ui-slider-pips .ui-slider-line {
    height: 4px;
    background: #ffff00;
}

#sliderbar.ui-slider-pips .ui-slider-pip:nth-of-type(5n+1) > .ui-slider-line {
    height: 8px;
    background: #ffff00;
}

#sliderbar.ui-slider-pips .ui-slider-pip:nth-of-type(5n+1) > .ui-slider-label {
    display: block;
}