{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Reconesse Database</title>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'tooltipster/tooltipster.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/faviconlogo.png' %}">
</head>

<body>
<div class="testouter">
    <div class="testheader">
        <div class="button-area" id="top">
            <!--
                                <div class="button-container">
                                    <div class="navbutton">
                                        about
                                        <a href="/about/">
                                            <span class="link-spanner"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <div class="navbutton">
                                        help
                                        <a href="/help/">
                                            <span class="link-spanner"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <div class="navbutton">
                                        shop
                                        <a href="/shop/">
                                            <span class="link-spanner"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <div class="navbutton">
                                        contact
                                        <a href="/contact/">
                                            <span class="link-spanner"></span>
                                        </a>
                                    </div>
                                </div>
            -->
        </div>
    </div>

    <div class="testcontent">
        <div class="button-area" id="main">
            <div class="button-container" onlick="/past">
                <div class="navbutton" id="past">
                    past
                    <a href="/past/">
                        <span class="link-spanner"></span>
                    </a>
                </div>
            </div>
            <div class="button-container">
                <div class="navbutton" id="present">
                    present
                    <a href="/present/">
                        <span class="link-spanner"></span>
                    </a>
                </div>
            </div>
            <div class="button-container">
                <div class="navbutton" id="future">
                    future
                    <a href="/future/">
                        <span class="link-spanner"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="testfooter">
        <div><a href="/admin">ADMIN LOGIN</a></div>
        <div class="byline-section">
            <div class="footer-block">
                <h4>Want to get in touch?</h4>
                <a href="mailto:info@reconesse.org">Drop us a line!</a>
            </div>
            <div class="footer-spacer"></div>
            <div class="footer-block-middle">
                <a href="https://twitter.com/Reconesse" target="_blank" class="social-icon social-twitter"><i
                        class="fa fa-fw fa-twitter"></i></a>
                <a href="https://www.facebook.com/reconesse" target="_blank" class="social-icon social-facebook"><i
                        class="fa fa-fw fa-facebook"></i></a>
                <a href="http://www.pinterest.com/reconesse/" target="_blank" class="social-icon social-pinterest"><i
                        class="fa fa-fw fa-pinterest"></i></a>
                <a href="http://instagram.com/reconessed" target="_blank" class="social-icon social-instagram"><i
                        class="fa fa-fw fa-instagram"></i></a>
            </div>
            <div class="footer-spacer"></div>
            <div class="footer-block copyright-byline">
                &copy; Copyright 2014 Reconesse Database
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'tooltipster/jquery.tooltipster.min.js' %}"></script>
<script type="text/javascript">
			$(document).ready(function() {
	            $('#past').tooltipster({
	            	content: $('<span class="tooltip-content"><h4>The past</h4>Something something databasey it\'s so big and full of knowledge about <strong>8 women for every 100 men</strong>. Other things do a thing with numbers. <p>&diams;<p> Our database will record stories of amazing women of the past and present who have not gotten their share in history.</span>'),
	            	position: 'bottom',
	            	maxWidth: 400,
	            	arrowColor: '#0996ce',
	            	interactive: true,
	            });
	            
	            $('#present').tooltipster({
	            	content: $('<span class="tooltip-content"><h4>Women are the untapped resource of the world</h4>Goldman Sachs has estimated that eliminating the gender gap in employment could boost GDP by a total of <strong>9%</strong> in the United States; <strong>13%</strong> in the Euro zone; and <strong>16%</strong> in Japan.<p>&diams;<p>When we invest in a future for women, all of humanity benefits. Reconesse seeks to offer women from around the world a vast network of opportunities.</span>'),
	            	position: 'bottom',
	            	maxWidth: 400,
	            	arrowColor: '#0996ce',
	            	interactive: true,
	            });
	            
	            $('#future').tooltipster({
	            	content: $('<span class="tooltip-content"><h4>We want our database to be a truly global platform</h4>By <strong>crowdsourcing</strong> content from around the world, we are able to share stories that might otherwise have gone unnoticed. <p>&diams;<p>That’s where you come in. You can write a profile on a woman forgotten by history, send us a suggestion or share opportunities and networks you know about.</span>'),
	            	position: 'bottom',
	            	maxWidth: 400,
	            	arrowColor: '#0996ce',
	            	interactive: true,
	            });
	        });
            
			function UpdateSizes() {
                
				if ($('.wrapper').width() > 1400) {
					$('.testheader').css('background-size', '100% auto');
				}
				else {
					var headerHeight = 'auto ' + $('.header-section').height() + 'px';
					$('.testheader').css('background-size', headerHeight);
				}
				
				var wholeHeight = $('.testouter').height();
                var outerHeights = $('.testheader').height() + $('.testfooter').height();
                $('.testcontent').height(wholeHeight - outerHeights);
                
                $(".button-area#main").each(function( index ) {
                    var totalMinWidth=0;
                    $(this).children().each(function( index ) { 
                        totalMinWidth += parseInt($(this).css('min-width'));
                    });
                    
                    var percentSize = 100.0;
                    if ($(this).width() > 400)
                    {
                        var numChildren = $(this).children(".button-container").length;
                        percentSize = 100.0 / numChildren;
                    }
                    $(this).children(".button-container").css("width", percentSize.toString() + "%");
                });
			};
            
            $(window).load(UpdateSizes);
            $(window).resize(UpdateSizes);

</script>
</body>
</html>